<div class="header">
  <p class="header-title"><a href="{{site.url}}">John Laudun</a></p>
  <div class="navlist">
    <ul>
      {% for item in site.data.navigation %}
      <li><a href="{{site.url}}/{{ item.url }}">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>


<!-- <nav>
  
  <div class="nav-id">
    <p class="header-name"><a href="{{site.url}}">John Laudun</a></p>
  </div>

  <div class="nav-menu">
    <p>
    <ul>
      {% for item in site.data.navigation %}
      <li><a href="{{site.url}}/{{ item.url }}">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  </p>
  </div>

</nav> -->