<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="icon" href="/assets/images/favicon.png" /> 512px-->
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}" />
    {% feed_meta %}
    <!-- TYPE FACES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap" rel="stylesheet">
    <!-- STYLES -->
      <link rel="stylesheet" href="{{site.url}}/assets/css/simple.css">
    <!-- FAVICON -->
      <link rel="apple-touch-icon" sizes="180x180" href="{{site.url}}/assets/images/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="{{site.url}}/assets/images/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="{{site.url}}/assets/images/favicon-16x16.png">
      <link href='http://johnlaudun.net/feed.xml' rel='alternate' type='application/atom+xml'>
  </head>
  <body>
      <header>
        <!-- <p>{{ page.description }}</p> -->
        {% include navigation.html %}
      </header>

      <main>
        <h1>{{ page.header }}</h1>
        {{ content }}
      </main>

      <footer>
        <ul>
          {% for item in site.data.footer %}
          <li><a href="{{site.url}}/{{ item.url }}">{{ item.title }}</a></li>
          {% endfor %}
          <li>(c) John Laudun.</li>
        </ul>
      </footer>
  </body>
 </html>