<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="icon" href="/assets/images/favicon.png" /> 512px-->
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}" />
    {% feed_meta %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,300;0,700;1,100;1,300;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{site.url}}/assets/css/simple.css">
  </head>
  <body>
      <header>
        <!-- <p>{{ page.description }}</p> -->
        {% include navigation.html %}
      </header>

      <main>
        <h1>{{ page.header }}</h1>
        {{ content }}
      </main>

      <footer>
        <p>Copyright John Laudun.</p>
      </footer>
  </body>
 </html>